mode: rule
log-level: warning
allow-lan: true
ipv6: false
geodata-mode: true
tcp-concurrent: false
external-controller: 127.0.0.1:9005
secret: ""
profile:                   
  #缓存设置(文件位置./cache.db)
  store-selected: false    #节点状态记忆（若不同配置有同代理名称,设置值共享）
  store-fake-ip: true      #fake-ip缓存
tun:
  enable: true
  device: meta
  # stack: gvisor
  stack: system
  dns-hijack:
    - any:53
  auto-route: true
  auto-detect-interface: true
  # mtu: 9000
sniffer: #【Meta专属】sniffer域名嗅探器
  enable: true #嗅探开关
  sniffing: #嗅探协议对象：目前支持tls/http
    - tls
    - http
  # skip-domain:                   #列表中的sni字段，保留mapping结果，不通过嗅探还原域名
  #                                #优先级比force-domain高
  #   - 'Mijia Cloud'              #米家设备，建议加
  #   - 'dlg.io.mi.com'
  #   - '+.apple.com'              #苹果域名，建议加
  # # - '*.baidu.com'              #支持通配符

  force-domain: #需要强制嗅探的域名，默认只对IP嗅探
    - '+' #去掉注释后等于全局嗅探
    - 'google.com'
    #port-whitelist:               #端口白名单，只对名单内的端口进行还原域名
    # - 80
    # - 443
    # - 8000-9000
hosts: #host，支持通配符（非通配符域名优先级高于通配符域名）
# '*.clash.dev': 127.0.0.1     #例如foo.example.com>*.example.com>.example.com
# '.dev': 127.0.0.1
# 'alpha.clash.dev': '::1'
dns:
  enable: true #DNS开关(false/true)
  listen: 0.0.0.0:53533 #DNS监听地址
  ipv6: false #IP6解析开关；如果为false，将返回ip6结果为空
  default-nameserver: #解析非IP的dns用的dns服务器,只支持纯IP
    - 114.114.114.114
    - 8.8.8.8
    - 223.5.5.5
    - 119.29.29.29
  # nameserver-policy: #指定域名使用自定义DNS解析
  #   'www.baidu.com': 'https://223.5.5.5/dns-query'
  #   '+.internal.crop.com': '114.114.114.114'
  # DNS模式(redir-host/fake-ip)
  # 【Meta专属】redir-host传递域名，可远程解析
  # enhanced-mode: redir-host
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16 #Fake-IP解析地址池
  # 查询hosts配置并返回真实IP
  use-hosts: true
  fake-ip-filter: #Fake-ip过滤，列表中的域名返回真实ip
    - '*.lan'
    #   # - '*.linksys.com'
    - '+.pool.ntp.org'
    # - '*.github.com'
    # - 'github.com'
    - 'aur.archlinux.org'
    - '*.iovisor.org'
    # - localhost.ptlogin2.qq.com
  # proxy-server-nameserver:          #【Meta专属】解析代理服务器域名的dns
  # - tls://1.0.0.1:853              # 不写时用nameserver解析
  nameserver: #默认DNS服务器，支持udp/tcp/dot/doh/doq
    - https://doh.pub/dns-query # DNS over HTTPS
    # - https://dns.alidns.com/dns-query#h3=true #【Meta专属】强制HTTP/3
    - https://dns.alidns.com/dns-query
    # - 114.114.114.114
    # - 8.8.8.8
    # - 223.5.5.5
    # - 119.29.29.29
    # - dhcp://wlan0 # dns from dhcp
    # - '8.8.8.8#en0' # 兼容指定DNS出口网卡
  fallback: #回落DNS服务器，支持udp/tcp/dot/doh/doq
    - https://doh.dns.sb/dns-query
    # - tls://1.0.0.1:853              # 不写时用nameserver解析
    # - tls://1.1.1.1:853              # 不写时用nameserver解析
    - https://1.1.1.1/dns-query
    # - tls://dns.google
  fallback-filter: #回落DNS服务器过滤
    geoip: true #为真时，不匹配为geoip规则的使用fallback返回结果
    geoip-code: CN #geoip匹配区域设定
    geosite: #【Meta专属】设定geosite某分类使用fallback返回结果
      - gfw
      - "geolocation-!cn"
proxy-providers:
  realdaz:
    type: http
    path: ./proxies/realdaz.yaml
      # url: https://rabbitpro-subscription.com/link/brgwVdQ0ssBQndtS?clash=1
    url: https://rabbitpro-subscription.com/link/wDi892ffjXRNdASo?clash=1
    interval: 3600
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300 
proxy-groups:
  - name: "DAZ"
    type: url-test #通过httping URL 自动切换延迟最低的节点
    use:
      - realdaz
    tolerance: 150 #容差值：节点差值低于设定值时，不自动切换
    # lazy: true           #为true时，未被使用时不进行测ping
    url: 'http://www.gstatic.com/generate_204' #用来测ping的地址
    interval: 100 #测ping时间(秒)
    # disable-udp: true    #关闭UDP
    # filter: 'B40'         #【Meta专属】代理筛选
  - name: "OPENAI"
    type: select
    use:
      - realdaz
  - name: "PROXY"
    type: select
    proxies:
      - DAZ
      - DIRECT
    use:
      - realdaz
rule-providers:
  reject:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/reject.txt"
    path: ./ruleset/reject.yaml
    interval: 86400
  icloud:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/icloud.txt"
    path: ./ruleset/icloud.yaml
    interval: 86400
  apple:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/apple.txt"
    path: ./ruleset/apple.yaml
    interval: 86400
  google:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/google.txt"
    path: ./ruleset/google.yaml
    interval: 86400
  proxy:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/proxy.txt"
    path: ./ruleset/proxy.yaml
    interval: 86400
  direct:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt"
    path: ./ruleset/direct.yaml
    interval: 86400
  private:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/private.txt"
    path: ./ruleset/private.yaml
    interval: 86400
  gfw:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/gfw.txt"
    path: ./ruleset/gfw.yaml
    interval: 86400
  greatfire:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/greatfire.txt"
    path: ./ruleset/greatfire.yaml
    interval: 86400
  tld-not-cn:
    type: http
    behavior: domain
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/tld-not-cn.txt"
    path: ./ruleset/tld-not-cn.yaml
    interval: 86400
  telegramcidr:
    type: http
    behavior: ipcidr
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/telegramcidr.txt"
    path: ./ruleset/telegramcidr.yaml
    interval: 86400
  cncidr:
    type: http
    behavior: ipcidr
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/cncidr.txt"
    path: ./ruleset/cncidr.yaml
    interval: 86400
  lancidr:
    type: http
    behavior: ipcidr
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/lancidr.txt"
    path: ./ruleset/lancidr.yaml
    interval: 86400
  applications:
    type: http
    behavior: classical
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/applications.txt"
    path: ./ruleset/applications.yaml
    interval: 86400
rules:
  - DOMAIN,github.com,PROXY
  - DOMAIN-SUFFIX,openai.com,GLOBAL
  - DOMAIN-SUFFIX,windows.net,GLOBAL
  - RULE-SET,applications,DIRECT
  # - DOMAIN,clash.razord.top,DIRECT
  # - DOMAIN,yacd.haishan.me,DIRECT
  - RULE-SET,private,DIRECT
  - RULE-SET,reject,REJECT
  - RULE-SET,icloud,PROXY
  - RULE-SET,apple,PROXY
  - RULE-SET,google,PROXY
  - RULE-SET,proxy,PROXY
  - RULE-SET,direct,DIRECT
  - RULE-SET,lancidr,DIRECT
  - RULE-SET,cncidr,DIRECT
  - RULE-SET,telegramcidr,PROXY
  - GEOIP,LAN,DIRECT
  - GEOIP,CN,DIRECT
  - DOMAIN,leetcode.cn,DIRECT
  - DOMAIN-KEYWORD,ad,REJECT
  - MATCH,PROXY

